{% extends 'base.html' %}

{% block content %}
<h5>username</h5>
<p>{{request.user}}</p>

<div class="card-group">
	<div class="row row-cols-1 row-cols-md-3 g-4">
		{% for tugas in task %}
			<div class="card border-info mb-5" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">{{tugas.title}}</h5>
					<p class="card-text">{{tugas.date}}</p>
					<p class="card-text">{{tugas.description}}</p>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<h5>Sesi terakhir login: {{ last_login }}</h5>
<button><a href="{% url 'todolist:create' %}">create</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}